<div class="login">
    <div class="wrap">
        <!-- TOGGLE -->
        <div id="toggle-wrap">
            <div id="toggle-terms">
                <div id="cross">
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
        

        <!-- RECOVERY -->
        <div class="recovery">
            <h2>Password Recovery</h2>
            <p>Enter either the <strong>email address</strong> or <strong>username</strong> on the account and <strong>click Submit</strong></p>
            <p>We'll email instructions on how to reset your password.</p>
            <form class="recovery-form" action="" method="post">
                <input type="text" class="input" id="user_recover" placeholder="Enter Email or Username Here">
                <input type="submit" class="button" value="Submit">
            </form>
            <p class="mssg">An email has been sent to you with further instructions.</p>
        </div>

        <!-- SLIDER -->
        <div class="content">
            <!-- LOGO -->
            <div class="logo">
                <a href="#"><img src="http://res.cloudinary.com/dpcloudinary/image/upload/v1506186248/logo.png" alt=""></a>
            </div>
            <!-- SLIDESHOW -->
            <div id="slideshow">
                <div class="one">
                    <h2><span>EVENTS</span></h2>
                    <p>Sign up to attend any of hundreds of events nationwide</p>
                </div>
                
            </div>
        </div>
        <!-- LOGIN FORM -->
        <div class="user">
            <!-- ACTIONS
            <div class="actions">
                <a class="help" href="#signup-tab-content">Sign Up</a><a class="faq" href="#login-tab-content">Login</a>
            </div>
            -->
            <div class="form-wrap">
                <!-- TABS -->
                <div class="tabs">
                    <h3 class="signup-tab"><a class="sign-up" routerLink="/auth"><span>Login</span></a></h3>
                </div>
                <!-- TABS CONTENT -->
                <div class="tabs-content">
                    <!-- TABS CONTENT SIGNUP -->
                    <div id="signup-tab-content" class="active">
                        <form class="signup-form" action="" method="post">
                            <input type="email" class="input" id="user_email" autocomplete="off" placeholder="Email">
                            <input type="text" class="input" id="user_name" autocomplete="off" placeholder="Username">
                            <input type="password" class="input" id="user_pass" autocomplete="off" placeholder="Password">
                            <input type="submit" class="button" value="Sign Up">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>